.box-Principal {
  background-image: url(../images/BannerSection.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-sobremi {
  background-color: #7299fe;
}

.sobremi h1 {
  color: white;
  text-align: center;
}

.sobremi p {
  margin: 20px;
  color: white;
}

.box-skills {
  background-color: #9122ff;
}

.skills h1 {
  padding: 20px;
  color: white;
  text-align: center;
}

.box-portafolio {
  background-color: #FFD233;
  align-items: center;
  align-content: center;
}

.portafolio h1 {
  padding: 20px;
  color: white;
  text-align: center;
}

.box-clientes {
  background-color: #3F4E62;
}

.clientes h1 {
  padding: 20px;
  color: white;
  text-align: center;
}

.box-contacto {
  background-color: #1687A0;
}

.contacto h1 {
  padding: 20px;
  color: white;
  text-align: center;
}
